.login-page .login-form .form-group .input-group.validate-has-error .error {
	color:rgba(236, 89, 86, 0.5);
	margin-top: 23px;
}

.login-page .login-form .form-group .input-group.validate-has-error .input-group-addon {
	color:rgba(236, 89, 86, 0.5);
}